a.footer-link {
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

div.top-container {
  background-color: #DEF5E5;
  position: relative;
  padding-top: 100px;
}


div.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

div.profile{
  position: relative;
  text-align: center;
}

div.middle-container {}

div.bottom-container {}

h1 {
  /* 100% = 16px = 1em = 1rem (ignora parents)*/
  font-size: 4rem;
  margin: 50px auto 0px auto;
  font-family: 'Poor-Story', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  background-color: none;
  border-style: dotted none none none;
  border-color: gray;
  border-width: 5px;
  height: 0px;
  width: 5%;
  margin: 50px auto auto auto;
}

iframe.detective-pikachu {
  height: 50%;
  position: relative;
  left: 0;
  display:inline-block;

}

img.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

img.seo-report {
  position: absolute;
  left: 300px;
  bottom: 300px;
  height: 100px;
  width: 100px;
}

img.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

img.data-processing {
  position: absolute;
  right: 300px;
  top: 50px;
  height: 100px;
  width: 100px;
}

img.mountain {
  position: relative;
  bottom: 0px;
}

img.electricity {
  position: relative;
  bottom: 0px;
  height: 400px;
}

img.profile-photo {
  margin: 30px auto auto auto;
  height: 150px;
  width: 150px;
}

img.data-science-skill {
  height: 25%;
  width: 25%;
  float: left;
  padding: 30px;
}

p.my-job{
  position: relative;
  display: inline-block;
}

p {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  text-align: center;
  position: relative;
  display: block;
  margin-inline-start: 15em;
  margin-inline-end: 15em;
}
